
#board-wrapper {
    background-color: var(--board-bg);
    min-width: 100vw;
    min-height: 100vh;
}

#board, #drag-layer {
    background-color: transparent;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    overflow: visible;
}
#drag-layer {
    cursor: pointer;
}

#selection-box {
    position: absolute;
    box-sizing: border-box;
    display: none;
    background-color: var(--selection-box-bg);
    border: 2px solid var(--selection-box-border);
    pointer-events: none;
    z-index: 1000000000;
}

.instance-wrapper {
    position: absolute;
    cursor: pointer;
}
.instance-wrapper.selected .view {
    background-color: var(--instance-selected-bg);
    border: 1px solid var(--instance-selected-border);
}
.instance-wrapper.selected .view:hover {
    background-color: var(--instance-selected-bg-hover);
    border: 1px solid var(--instance-selected-border-hover);
}

.view {
    background-color: var(--instance-bg);
    border: 1px solid var(--instance-border);
    padding: 4px 5px;
    border-radius: 5px;
}

.view:hover {
    background-color: var(--instance-bg-hover);
    border: 1px solid var(--instance-border-hover);
}
