
#board {
    position: absolute;
    background-color: var(--board-bg);
    min-width: 100vw;
    min-height: 100vh;
    white-space: nowrap;
}

#drag-layer {
    background-color: transparent;
    white-space: nowrap;
    pointer-events: none;
}

.instance {
    background-color: var(--instance-bg);
    border: 1px solid var(--instance-border);
    padding: 4px 5px;
    border-radius: 5px;
}

.view {
    background-color: var(--instance-bg);
    border: 1px solid var(--instance-border);
    padding: 4px 5px;
    border-radius: 5px;
}

.view:hover {
    background-color: var(--instance-bg-hover);
    border: 1px solid var(--instance-border-hover);
}
