
#sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg);
    border-left: 1px solid var(--sidebar-border);
    position: absolute;
    top: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
}

#resizer {
    background-color: transparent;
    position: absolute;
    top: 0; bottom: 0; left: -5px;
    width: 10px;
    cursor: ew-resize;
}

#sidebar-search {
    background-color: transparent;
    border-bottom: 1px solid var(--sidebar-border);
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    min-width: 10px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
}

#sidebar-search-input {
    flex: 1;
    border-bottom: 1px solid var(--sidebar-border);
    min-width: 75px;
    width: 100%;
    font-size: 1.27em;
    line-height: 25px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sidebar-search-unicode-input-wrapper {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--sidebar-border);
    gap: 1px;
    height: 25px;
    box-sizing: border-box;
}
#sidebar-search-unicode-input-prefix {
    color: var(--text-color);
    font-size: 1.3em;
    margin: 0;
    padding: 0 0 1px;
    line-height: 1;
    display: inline-block;
}
#sidebar-search-unicode-input {
    color: var(--text-color);
    width: 67px;
    font-size: 1.27em;
    margin: 0;
    padding: 0;
    line-height: 1;
    height: 100%;
    display: inline-block;
}
#sidebar-search-unicode-input-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 1px;
    margin-left: 4px;
    mask-image: var(--unicode-input-icon);
    -webkit-mask-image: var(--unicode-input-icon);
}

.sidebar-search-icon {
    flex: 0;
    min-width: 25px;
    min-height: 25px;
    cursor: pointer;
}
#sidebar-search-hidden-icon {
    background-image: var(--hide-elements-icon);
}
#sidebar-search-hidden-icon.toggle-on {
    background-image: var(--unhide-elements-icon);
}
#sidebar-search-discovery-icon {
    background-image: var(--discovery-unselected-icon);
}
#sidebar-search-discovery-icon.toggle-on {
    background-image: var(--discovery-icon);
}
#sidebar-search-order-icon {
    background-image: var(--order-a-z-icon);
}
#sidebar-search-order-icon.toggle-on {
    background-image: var(--order-z-a-icon);
}

#sidebar-items {
    height: 100vh;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    box-sizing: border-box;
    align-content: flex-start;
    overflow-y: scroll;
}
