
#sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg);
    border-left: 1px solid var(--sidebar-border);
    position: absolute;
    top: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
}

#resizer {
    background-color: transparent;
    position: absolute;
    top: 0; bottom: 0; left: -5px;
    width: 10px;
    cursor: ew-resize;
}

#sidebar-search {
    background-color: transparent;
    border-bottom: 1px solid var(--sidebar-border);
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    min-width: 10px;
    box-sizing: border-box;
}

#sidebar-search-input {
    all: unset;
    flex: 1;
    border-bottom: 1px solid var(--sidebar-border);
    min-height: 25px;
    min-width: 75px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-search-toggle {
    flex: 0;
    min-width: 25px;
    min-height: 25px;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#sidebar-search-toggle-discovery {
    background-image: var(--sidebar-discovery-off);
}
#sidebar-search-toggle-discovery.toggle-on {
    background-image: var(--view-discovery);
}
#sidebar-search-toggle-hidden {
    background-image: var(--sidebar-hide-elements);
}
#sidebar-search-toggle-hidden.toggle-on {
    background-image: var(--sidebar-unhide-elements);
}

#sidebar-items {
    height: 100vh;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    box-sizing: border-box;
    align-content: flex-start;
    white-space: nowrap;
    overflow-y: scroll;
}
