
#tabs-list {
    transform: rotate(180deg);
    background-color: var(--board-bg);
    border-top: 1px solid var(--text-color-fainted);
    border-left: 1px solid var(--text-color-fainted);
    position: absolute;
    top: 0; left: 0;
    min-height: 20px;
    max-width: calc(100vw - var(--sidebar-width));
    width: max-content;
    overflow-x: auto;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    align-items: center;
    padding: 0 5px;
    gap: 5px;
}

#tabs-plus {
    mask-image: var(--plus-icon);
    -webkit-mask-image: var(--plus-icon);
    margin-left: 7px;
    min-width: 15px;
    min-height: 15px;
    width: 15px;
    height: 36px;
}

.tab-wrapper {
    transform: rotate(180deg);
    background-color: var(--workspace-tab-bg);
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    cursor: pointer;
}
.tab-wrapper:hover {
    background-color: var(--workspace-tab-bg-hover);
}

.tab-wrapper.moving {
    background-color: var(--workspace-tab-bg-hover);
}
.tab-wrapper.hovered-over {
    border: 1px dashed var(--select-blue);
}

.tab-dots {
    width: 0;
    min-height: 36px;
    opacity: 0;
    mask-image: var(--vertical-dots-icon);
    -webkit-mask-image: var(--vertical-dots-icon);
    overflow: hidden;
    transition: width 0.2s ease, opacity 0.2s ease;
}
.tab-wrapper.active .tab-dots {
    width: 20px;
    opacity: 1;
}

.tab-name, #moving-tab {
    position: relative;
    color: var(--text-color-fainted);
    padding: 6px 7px;
    font-size: 1.2em;
    white-space-collapse: preserve;
    border: 1px solid transparent;
    height: 100%;
    user-select: none;
}
.tab-name.hide {
    position: absolute;
    visibility: hidden;
    height: 0;
}

.tab-wrapper.active {
    border-bottom: 1px solid var(--text-color);
}
.tab-wrapper.active .tab-name {
    color: var(--text-color);
}

#tab-menu {
    display: none;
    background-color: var(--workspace-tab-bg);
    border: 1px solid var(--text-color-fainted);
    margin-top: -1px;
    position: fixed;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: stretch;
    padding: 4px;
    gap: 4px;
}
#tab-menu.open {
    display: flex;
}

#tab-menu-triangle {
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--workspace-tab-bg);
}
#tab-menu-triangle::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid var(--text-color-fainted);
    z-index: -1;
}

.tab-menu-item {
    cursor: pointer;
    font-size: 1.1em;
    padding: 3px 5px;
    border-radius: 3px;
    width: auto;
    text-align: center;
}
.tab-menu-item:hover {
    background-color: var(--workspace-tab-bg-hover);
}

#moving-tab {
    position: fixed;
    width: fit-content;
    height: fit-content;
    background-color: var(--workspace-tab-bg-hover);
    color: var(--text-color-fainted);
    display: none;
    opacity: 0.7;
}
#moving-tab.show {
    display: block;
    cursor: grabbing;
}
#moving-tab.active {
    color: var(--text-color);
}
