
.wrapper {
    min-width: 0;
    width: fit-content;
    display: flex;
    cursor: pointer;
}
.wrapper.disabled {
    pointer-events: none;
}

/* instance wrapper */
.instance-wrapper {
    position: absolute;
}

/* item wrapper */
.item-wrapper {}

/* sidebar item wrapper */
.sidebar-item-wrapper {}
