
body[data-theme="dark"] {
    --text-color: white;
    --text-color-fainted: #bebebe;

    --scrollbar-track-color: black;
    --scrollbar-thumb-color: #4f4f4f;

    /* board */
    --board-bg: #1c1c1c;
    --instance-border: white;
    --instance-bg: var(--board-bg);
    --instance-border-hover: #dadada;
    --instance-bg-hover: #3a3a3a;

    /* selection */
    --selection-box-bg: #0078ff33;
    --selection-box-border: #0078ff80;

    /* workspaces */
    --workspace-bg: var(--board-bg);
    --workspace-bg-hover: #464646;
    --active-workspace-bg: #626262;

    /* sidebar */
    --sidebar-bg: var(--board-bg);
    --sidebar-border: white;

    /* options */
    --overlay: #00000020;
    --options-icon-opacity: 0.4;
    --options-icon-opacity-hover: 1;
    --options-icon-filter: invert(1);
    --options-icon-color: white;
    --options-icon-color-hover: white;
    --options-popup-border: white;
    --options-popup-bg: var(--board-bg);
    --options-popup-button-hover: var(--instance-bg-hover);
    --save-border: #b6b6b6;
    --active-save-bg: var(--instance-bg-hover);
}
