
body[data-theme="light"] {
    --text-color: black;
    --text-color-fainted: gray;

    --scrollbar-track-color: white;
    --scrollbar-thumb-color: gray;

    /* board */
    --board-bg: white;
    --instance-border: black;
    --instance-bg: var(--board-bg);
    --instance-border-hover: #313131;
    --instance-bg-hover: #e5e5e5;
    /* pulsing */
    --instance-pulsing-bg-1: #e5e5e580;
    --instance-pulsing-border-1: #00000080;
    --instance-pulsing-bg-2: #e5e5e520;
    --instance-pulsing-border-2: #00000020;
    /* selection */
    --selection-box-bg: #0078ff33;
    --selection-box-border: #0078ff80;
    --instance-selected-bg: #b9deff;
    --instance-selected-bg-hover: #94cdff;
    --instance-selected-border: #0078ff;
    --instance-selected-border-hover: #0053b3;

    /* workspaces */
    --workspace-tab-bg: var(--board-bg);
    --workspace-tab-bg-hover: #dcdcdc;
    --active-workspace-bg: #b7b7b7;

    /* sidebar */
    --sidebar-bg: var(--board-bg);
    --sidebar-border: black;

    /* options */
    --overlay: #00000020;
    --options-icon-opacity: 0.4;
    --options-icon-opacity-hover: 1;
    --options-icon-filter: drop-shadow(0 0 0 var(--options-icon-color));
    --options-icon-color: black;
    --options-icon-color-hover: black;
    --options-popup-border: black;
    --options-popup-bg: var(--board-bg);
    --options-popup-button-hover: var(--instance-bg-hover);
    --save-border: #8f8f8f;
    --active-save-bg: var(--instance-bg-hover);
}
