
body[data-theme="light"] {
    --text-color: black;
    --text-color-fainted: gray;
    --red: #ffa2a2;
    --green: #abffa7;

    --scrollbar-track-color: white;
    --scrollbar-thumb-color: gray;

    /* board */
    --board-bg: white;

    /* === VIEW === */
    --view-bg: white;
    --view-bg-hover: #e5e5e5;
    --view-border: black;
    --view-border-hover: #313131;
    /* pulsing view */
    --view-pulsing-bg-1: #e5e5e580;
    --view-pulsing-border-1: #00000080;
    --view-pulsing-bg-2: #e5e5e520;
    --view-pulsing-border-2: #00000020;
    /* selection */
    --selection-box-bg: #0078ff33;
    --selection-box-border: #0078ff80;
    /* selected view */
    --view-selected-bg: #b9deff;
    --view-selected-bg-hover: #94cdff;
    --view-selected-border: #0078ff;
    --view-selected-border-hover: #0053b3;
    /* hidden view */
    --view-hide-bg: #ffe2d6;
    --view-hide-bg-hover: #ffcbb8;
    --view-hide-border: #ff6434;
    --view-hide-border-hover: #cc3a16;
    /* discovered view */
    --view-discovery-bg: #dbf7ee;
    --view-discovery-bg-hover: #b9ecdc;
    --view-discovery-border: #00a680;
    --view-discovery-border-hover: #00775b;

    /* workspaces */
    --workspace-tab-bg: var(--board-bg);
    --workspace-tab-bg-hover: #dcdcdc;
    --active-workspace-bg: #b7b7b7;

    /* sidebar */
    --sidebar-bg: var(--board-bg);
    --sidebar-border: black;
    --sidebar-order-a-z: url("/public/sidebar_order_a_z_light.svg");
    --sidebar-order-z-a: url("/public/sidebar_order_z_a_light.svg");
    --sidebar-discovery-off: url("/public/sidebar_discovery_light.svg");
    --sidebar-unhide-elements: url("/public/sidebar_unhide_elements_light.svg");
    --sidebar-hide-elements: url("/public/sidebar_hide_elements_light.svg");

    /* options */
    --overlay: #00000020;
    --options-icon-opacity: 0.3;
    --options-icon-opacity-hover: 1;
    --options-icon-filter: drop-shadow(0 0 0 var(--options-icon-color));
    --options-icon-color: black;
    --options-icon-color-hover: black;
    --options-popup-border: black;
    --options-popup-bg: var(--board-bg);
    --options-popup-button-hover: var(--view-bg-hover);
    /* saves */
    --save-border: #8f8f8f;
    --active-save-bg: var(--view-bg-hover);
    /* settings */
    --navigation-item-bg-hover: var(--view-bg-hover);
    --active-navigation-item-bg: #dcdcdc;
}
