
#popups-wrapper {
    display: none;
}
#popups-wrapper.visible {
    display: block;
}

.overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--overlay);
    display: none;
}
.overlay.visible {
    display: block;
}
#overlay-text {
    font-size: 3em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    position: fixed;
    top: 7vh; left: 50%;
    max-width: 80%;
    transform: translate(-50%, 0);
    background-color: var(--options-popup-bg);
    border: 2px solid var(--options-popup-border);
    border-radius: 5px;
    display: none;
    flex-direction: column;
}
.popup.middle {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.popup-title {
    flex-shrink: 0;
    border-bottom: 2px solid var(--options-popup-border);
    padding: 5px 7px;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    flex-direction: row;
}
