
html, body {
    margin: 0; padding: 0;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    color: var(--text-color);
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    font-family: Roboto, sans-serif;
}

/* Safari and old Chrome */
::-webkit-scrollbar {
    /*width: 8px;*/
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

input {
    all: unset;
}

h1, h2, h3 {
    margin: 0;
    user-select: none;
}

:root {
    --sidebar-width: 400px;
    --separator-display: none;
    --transparent-icon: url("/public/images/transparent.svg");
    --settings-icon: url("/public/images/options_settings.svg");
    --saves-icon: url("/public/images/options_saves.svg");
    --edit-save-name-icon: url("/public/images/options_edit_save_name.svg");
    --save-save-name-icon: url("/public/images/options_save_save_name.svg");
    --load-save-icon: url("/public/images/options_load_save.svg");
    --export-save-icon: url("/public/images/options_export_save.svg");
    --delete-save-icon: url("/public/images/options_delete_save.svg");
    --unicode-input-icon: url("/public/images/sidebar_unicode_input.svg");
    --discovery-icon: url("/public/images/discovery.svg");
    --vertical-dots-icon: url("/public/images/vertical_dots.svg");
    --plus-icon: url("/public/images/plus.svg");
}

#board { z-index: 0; position: absolute; }
#drag-layer { z-index: 10; position: absolute; } /* z-index can be either 2 or 10 */
#tabs-list { z-index: 1; position: absolute; }
#tab-menu { z-index: 4; position: absolute; }
#moving-tab { z-index: 5; position: fixed; }
#sidebar { z-index: 3; position: absolute; }

#board-wrapper { z-index: 0; position: absolute; }
#options { z-index: 1; position: absolute; }
#popups-wrapper { z-index: 10; position: absolute; }

#app { z-index: 0; position: absolute; }
#state-overlay { z-index: 1; position: fixed; }

#app {
    top: 0; right: 0; bottom: 0; left: 0;
}
