
html, body {
    margin: 0; padding: 0;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    color: var(--text-color);
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

h1, h2, h3 {
    margin: 0;
    user-select: none;
}

:root {
    --sidebar-width: 200px;
}

#board { z-index: 0; }
#workspaces-list { z-index: 1; }
#sidebar { z-index: 2; }
#options { z-index: 3; }
#drag-layer { z-index: 100; }
#options-overlay { z-index: 1000; }
#state-overlay { z-index: 10000; }

#app {
    background-color: var(--board-bg);
    min-width: 100vw;
    min-height: 100vh;
}

.overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--overlay);
    display: none;
}
#overlay-text {
    font-size: 3em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
