
html, body {
    margin: 0; padding: 0;
    overflow: hidden;
    user-select: none;
}

h1, h2, h3 {
    margin: 0;
    user-select: none;
}

:root {
    --board-bg: dark gray;
    --sidebar-bg: #b7b7b7;
    --sidebar-border: black;

    /* options */
    --overlay: #00000020;
    --options-icon-opacity: 0.4;
    --options-icon-opacity-hover: 1;
    --options-icon-color: black;
    --options-icon-color-hover: black;
    --options-popup-border: black;
    --options-popup-bg: white;
    --options-popup-button-hover: #d2d2d2;
    --save-border: #8f8f8f;
    --save-bg: white;
}

.overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--overlay);
    display: none;
}
#options-overlay {
    z-index: 1000;
}
#state-overlay {
    z-index: 1000000;
}
#overlay-text {
    font-size: 3em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
