
.static-icon {
    background-size: contain;
    filter: opacity(var(--options-icon-opacity-hover)) var(--options-icon-filter);

}
.clickable-icon {
    background-size: contain;
    filter: opacity(var(--options-icon-opacity)) var(--options-icon-filter);
    cursor: pointer;
}
.clickable-icon:hover {
    filter: opacity(var(--options-icon-opacity-hover)) var(--options-icon-filter);
}

#options {
    position: absolute;
    bottom: 0; left: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

#options>div {
    height: 50px;
    width: 50px;
}
.saves-icon {
    background-image: var(--options-saves-popup);
}
.settings-icon {
    background-image: var(--options-settings-popup);
}

.popup .saves-icon, .popup .settings-icon {
    height: 30px;
    width: 30px;
    background-size: contain;
}
.options-button {
    background-color: transparent;
    border: 1px solid var(--options-popup-border);
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
}
.options-button:hover {
    background-color: var(--options-popup-button-hover);
}
