
.static-icon {
    background-size: contain;
    filter: opacity(var(--options-icon-opacity-hover)) var(--options-icon-filter);

}
.clickable-icon {
    background-size: contain;
    filter: opacity(var(--options-icon-opacity)) var(--options-icon-filter);
    cursor: pointer;
}
.clickable-icon:hover {
    filter: opacity(var(--options-icon-opacity-hover)) var(--options-icon-filter);
}

#options {
    position: absolute;
    bottom: 0; left: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

#options>div {
    height: 50px;
    width: 50px;
}
.saves-icon {
    background-image: url("/public/save_button.png");
}
.settings-icon {
    background-image: url("/public/settings_button.png");
}

.popup {
    position: absolute;
    top: 7vh; left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--options-popup-bg);
    border: 2px solid var(--options-popup-border);
    border-radius: 5px;
    display: none;
    flex-direction: column;
}

.popup-title {
    flex-shrink: 0;
    border-bottom: 2px solid var(--options-popup-border);
    padding: 5px 10px 5px 5px;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    flex-direction: row;
}
.popup-title .saves-icon, .popup .settings-icon {
    height: 30px;
    width: 30px;
    background-size: contain;
}
.options-button {
    background-color: transparent;
    border: 1px solid var(--options-popup-border);
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
}
.options-button:hover {
    background-color: var(--options-popup-button-hover);
}
#saves-import {
    margin-left: auto;
}

#saves-list {
    flex: 1;
    overflow-y: scroll;
    min-height: 100px;
    max-height: 80vh;
    min-width: 200px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.save {
    background-color: transparent;
    border: 2px solid var(--save-border);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}
.save.active {
    background-color: var(--active-save-bg);
}
.save>div {
    padding: 5px;
}

.save-top {
    border-bottom: 2px solid var(--save-border);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
}

.save-info {
    display: flex;
    flex-direction: column;
}

.save-name {
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
    width: 300px;
}

.name-display, .name-input {
    all: unset;
    flex: 1 1 auto;
    box-sizing: border-box;
}
.name-display {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
}
.name-input {
    border-bottom: 1px solid var(--save-border);
}
.save-date {
    font-size: 0.8em;
    color: var(--text-color-fainted);
}

.save-actions {
    display: flex;
    gap: 20px;
    margin: 5px;
}

.save-actions>div {
    width: 20px;
    height: 20px;
}
.edit-icon {
    background-image: url("/public/edit_name_button.png");
}
.save-icon {
    background-image: url("/public/save_name_button.png");
}
.load-icon {
    background-image: url("/public/load_save_button.png");
}
.export-icon {
    background-image: url("/public/export_button.png");
}
.delete-icon {
    background-image: url("/public/delete_button.png");
}
.save.active .delete-icon {
    background-image: none;
    cursor: unset;
}

.save-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    column-gap: 10px;
}

.stat-label {}
.stat-value {}
