
#saves-import {
    margin-left: auto;
}

#saves-list {
    flex: 1;
    overflow-y: scroll;
    min-height: 100px;
    max-height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.save {
    background-color: transparent;
    border: 2px solid var(--save-border);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}
.save.active {
    background-color: var(--active-save-bg);
}
.save>div {
    padding: 5px;
}

.save-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
}

.save-info {
    display: flex;
    flex-direction: column;
}

.save-name {
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
    width: 300px;
}

.name-display, .name-input {
    flex: 1 1 auto;
    box-sizing: border-box;
}
.name-display {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
}
.name-input {
    border-bottom: 1px solid var(--save-border);
}
.save-date {
    font-size: 0.8em;
    color: var(--text-color-fainted);
}

.save-actions {
    display: flex;
    gap: 20px;
    margin: 5px;
}

.save-actions > .icon {
    width: 20px;
    height: 20px;
}
.edit-save-name-icon {
    mask-image: var(--edit-save-name-icon);
    -webkit-mask-image: var(--edit-save-name-icon);
}
.save-save-name-icon {
    mask-image: var(--save-save-name-icon);
    -webkit-mask-image: var(--save-save-name-icon);
}
.load-save-icon {
    mask-image: var(--load-save-icon);
    -webkit-mask-image: var(--load-save-icon);
}
.export-save-icon {
    mask-image: var(--export-save-icon);
    -webkit-mask-image: var(--export-save-icon);
}
.delete-save-icon {
    mask-image: var(--delete-save-icon);
    -webkit-mask-image: var(--delete-save-icon);
}
.save.active .delete-save-icon {
    mask-image: var(--transparent-icon);
    -webkit-mask-image: var(--transparent-icon);
    cursor: unset;
}

.save-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    column-gap: 10px;
}

.stat-label {}
.stat-value {}
