
#settings-apply-changes {
    margin-left: auto;
}

#settings-wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

#settings-navigation,
#settings-sections-wrapper {
    min-height: 200px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#settings-navigation {
    width: max-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    direction: rtl;
}

.settings-navigation-item {
    text-align: left;
    vertical-align: middle;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
}
.settings-navigation-item.active {
    background-color: var(--active-navigation-item-bg);
}
.settings-navigation-item:hover {
    background-color: var(--navigation-item-bg-hover);
}

#settings-sections-wrapper {
    flex: 1;
    min-width: 600px;
    padding: 10px;
}

.settings-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    display: none;
}
.settings-section.active {
    display: flex;
}

.settings-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0 0.5em 0.5em;
    border-bottom: 1px solid var(--options-popup-border);
    gap: 10px;
    box-sizing: border-box;
}
.settings-row:last-child {
    border-bottom: none;
}
.settings-row-title-outermost {
    margin-right: auto;
}
.settings-row-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.settings-row-label-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.settings-row-icon {
    width: 25px;
    height: 25px;
}
.settings-row-label {
    font-size: 1.25em;
}
.settings-row-description {
    font-size: 0.8em;
    color: var(--text-color-fainted);
    white-space: normal;
    margin-right: 30px;
}

.settings-content-general-nothing-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* TOGGLES */
.yes-no-toggle::before {
    content: "NO";
    background-color: var(--red);
    border: var(--options-popup-border);
    border-radius: 5px;
    padding: 0.25em 0.5em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.yes-no-toggle.toggle-yes::before {
    content: "YES";
    background-color: var(--green);
}

.yes-no-any-toggle::before {
    content: "ANY";
    background-color: var(--view-bg-hover);
    border: var(--options-popup-border);
    border-radius: 5px;
    padding: 0.25em 0.5em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.yes-no-any-toggle.toggle-no::before {
    content: "NO";
    background-color: var(--red);
}
.yes-no-any-toggle.toggle-yes::before {
    content: "YES";
    background-color: var(--green);
}

.yes-no-toggle.small-toggle,
.yes-no-any-toggle.small-toggle {
    font-size: 0.8em;
    padding: 0.2em 0.45em;
}

/* INPUT */
.underlined-input {
    border-bottom: 1px solid var(--options-popup-border);
    width: 100px;
}

/* THEME */
.settings-content-theme-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.settings-content-theme-name {
    font-size: 1.1em;
}
.settings-content-theme-toggle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* CONTROLS */
/*.settings-content-controls-wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
.settings-content-controls-subtitle {
    text-align: center;
    font-weight: bold;
}
.settings-content-controls-subtitle:not(:first-child) {
    border-top: 1px solid var(--text-color-fainted);
    padding-top: 5px;
    margin-top: 5px;
}
.settings-content-controls-subwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.settings-content-controls-vertical-wrapper {
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.settings-content-controls-button-title,
.settings-content-controls-key-title {
    font-size: 0.9em;
}
