
#settings-apply-changes {
    margin-left: auto;
}

#settings-wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

#settings-navigation,
#settings-content {
    min-height: 200px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#settings-navigation {
    width: max-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    direction: rtl;
}

.settings-navigation-item {
    text-align: left;
    vertical-align: middle;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
}
.settings-navigation-item.active {
    background-color: var(--active-navigation-item-bg);
}
.settings-navigation-item:hover {
    background-color: var(--navigation-item-bg-hover);
}

#settings-content {
    flex: 1;
    min-width: 500px;
    padding: 10px;
}

.settings-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.settings-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--options-popup-border);
}
.settings-row:last-child {
    border-bottom: none;
}
.settings-row-title {
    font-size: 1.25em;
    margin-right: auto;
}

.yes-no-toggle::before {
    content: "NO";
    background-color: var(--red);
    border: var(--options-popup-border);
    border-radius: 5px;
    padding: 0.25em 0.5em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.yes-no-toggle.toggle-on::before {
    content: "YES";
    background-color: var(--green);
}

.underlined-input {
    border-bottom: 1px solid var(--options-popup-border);
    width: 100px;
}

/* GENERAL */
#settings-content-general-theme-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#settings-content-general-theme-name {
    font-size: 1.1em;
}
#settings-content-general-theme-toggle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

